<!DOCTYPE html>
<html>
    <head>
        <title>Movie Summary</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
    </head>
    <body>
        <h1>Pesquisar Filmes</h1>

        <select name="metodos" id="metodos">
            <option value="w2v">Word2Vec Average</option>
            <option value="hnsw">HNSW Search</option>
            <option value="tfidf">TF-IDF</option>
        </select>
        <input type="text" id="query" placeholder="Digite Sua Busca">
        <button onclick="buscar()">Buscar</button>

        <div id="resultado"></div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>